{% block component_product_box %}
    {% if product %}
        {% set id = product.id %}
        {% set name = product.translated.name %}
        {% set cover = product.cover.media %}
        {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}

        <div class="card product-box box-{{ layout }}" data-product-information="{{ {id, name}|json_encode }}">
            {% block component_product_box_content %}
                <div class="card-body">
                    {% block component_product_box_badges %}
                        {% sw_include '@Storefront/storefront/component/product/card/badges.html.twig' %}
                    {% endblock %}

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">
                            {# Minimalistic: immer cover-Modus #}
                            {% set displayMode = 'cover' %}

                            {% block component_product_box_image_inner %}
                                {% block component_product_box_image_link_inner %}
                                    {% if cover.url and cover.isSpatialObject() == false %}
                                        {% set attributes = {
                                            class: 'product-image is-' ~ displayMode,
                                            title: (cover.translated.title ?: name)
                                        } %}

                                        {% if cover.getMediaType().getName() === 'VIDEO' %}
                                            {% if config('core.listing.autoplayVideoInListing') %}
                                                {% set attributes = attributes|merge({
                                                    autoplay: true,
                                                    loop: true
                                                }) %}
                                            {% endif %}

                                            {% block component_product_box_video %}
                                                {% sw_include '@Storefront/storefront/utilities/video.html.twig' with {
                                                    media: cover,
                                                    attributes: attributes
                                                } %}
                                            {% endblock %}
                                        {% else %}
                                            {% set attributes = attributes|merge({
                                                alt: (cover.translated.alt ?: name),
                                                loading: 'lazy',
                                                'data-object-fit': displayMode
                                            }) %}

                                            {% block component_product_box_image_thumbnail %}
                                                {% sw_thumbnails 'product-image-thumbnails' with {
                                                    media: cover,
                                                    sizes: sizes,
                                                    attributes: attributes
                                                } %}
                                            {% endblock %}
                                        {% endif %}
                                    {% else %}
                                        {% block component_product_box_image_placeholder %}
                                            <div class="product-image-placeholder">
                                                {% sw_icon 'placeholder' style {
                                                    size: 'fluid'
                                                } %}
                                            </div>
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}
                            {% endblock %}

                            {% if config('core.cart.wishlistEnabled') %}
                                {% block component_product_box_wishlist_action %}
                                    {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                        appearance: 'circle',
                                        productId: id
                                    } %}
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block component_product_box_info %}
                        <div class="product-info">
                            {% block component_product_box_name %}
                                <a href="{{ seoUrl('frontend.detail.page', { productId: id }) }}"
                                   title="{{ name }}"
                                   class="product-name stretched-link">
                                    {{ name }}
                                </a>
                            {% endblock %}

                            {% block component_product_box_price %}
                                {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
